<div class="dashboard-container">
  <h1> Mes plantes suivies</h1>


  <div class="stats-grid">
    <div class="stat-card total">
      <div class="text">
        <p>Total plantes</p>
        <strong>{{ total }}</strong>
      </div>
      <i class="fas fa-seedling icon green"></i>
    </div>

    <div class="stat-card healthy">
      <div class="text">
        <p>Saines</p>
        <strong>{{ healthy }}</strong>
      </div>
      <i class="fas fa-check icon green"></i>
    </div>

    <div class="stat-card warning">
      <div class="text">
        <p>À surveiller</p>
        <strong>{{ warning }}</strong>
      </div>
      <i class="fas fa-exclamation-triangle icon yellow"></i>
    </div>

    <div class="stat-card critical">
      <div class="text">
        <p>Critiques</p>
        <strong>{{ critical }}</strong>
      </div>
      <i class="fas fa-exclamation-circle icon red"></i>
    </div>
  </div>





  <div class="plant-grid">
    <div *ngFor="let plant of plants" class="plant-card">

      <!-- Badge de statut -->
      <span class="plant-badge" [ngClass]="plant.status">
      {{ plant.status | titlecase }} ({{ plant.statusPercentage }}%)
    </span>

      <!-- Image ou nom comme visuel -->
      <div class="plant-image" *ngIf="plant.imageUrl; else nameVisual">
        <img [src]="plant.imageUrl" [alt]="plant.name" />
      </div>
      <ng-template #nameVisual>
        <div class="plant-name-visual">{{ plant.name }}</div>
      </ng-template>

      <!-- Infos -->
      <div class="plant-details">
        <h3>{{ plant.name }}</h3>
        <p class="plant-family">{{ plant.family }}</p>
        <p class="plant-meta">
          <i class="fas fa-calendar-alt"></i> Dernière analyse: {{ plant.lastAnalysis }}
        </p>
        <p>{{ plant.analysisCount }} analyses</p>

        <button class="plant-btn">
          <i class="fas fa-eye"></i> Voir détails
        </button>
      </div>

    </div>
  </div>

