<nav class="navbar">
  <div class="navbar-left">
    <i class="fas fa-seedling"></i>
    <div class="brand">
      <span class="brand-name">LeafScan AI</span>
      <span class="brand-subtitle">Détection de maladies des plantes</span>
    </div>
  </div>

  <div class="navbar-center">
    <a routerLink="/home" routerLinkActive="active">
      <i class="fa fa-home"></i> Home
    </a>
    <a routerLink="/dashboard" routerLinkActive="active">
      <i class="fa fa-chart-bar"></i>Tableau de bord
    </a>
    <a routerLink="/analyseur" routerLinkActive="active">
      <i class="fa fa-camera"></i>Analyser
    </a>
    <a routerLink="/mesPlantes" routerLinkActive="active">
      <i class="fa fa-shield-alt"></i> Mes plantes
    </a>
    <a routerLink="/settings" routerLinkActive="active">
      <i class="fa fa-cog"></i> Paramètres
    </a>
  </div>

  <div class="navbar-right">
    <button class="login-btn" routerLink="/auth" routerLinkActive="active">
      <i class="fa fa-user"></i> Se connecter
    </button>
  </div>
</nav>
